@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Pontano+Sans);

@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

body {
  margin: 0;
  padding: 0;
  background-color: #333;
}

header {
  background-color: white;
  color: #54524F;
  padding: 0.5em;
  border-bottom: 1px solid #ddd;

  .title {
    @include fill-parent();

    h1 {
      @include span-columns(6);
      text-transform: uppercase;
      font-size: 1.6em;
      font-family: $base-font-family;
    }

    h2 {
      float: right;
      text-align: right;
      text-transform: uppercase;
      font-family: $base-font-family;
      font-size: 1.6em;
      font-weight: 400;
      margin-right: 0.5em;
    }
  }

}

  button {
    border-bottom: 3px solid shade($green, 20);
    font-family: $base-font-family;
    font-size: 1.2em;
    outline: none;

    &:hover {
      background-color: tint($green, 20);
    }

    a {
      color: white;

      &:hover {
        color: white;
        background-color: tint($green, 20);
      }
    }
  }

  article {
    background-color: white;
    background-image: url(../img/kitchen.jpg);
    background-size: cover;
  }

.container {
  @include outer-container;

  .blurb {
    @include row();
    @include span-columns(12);
    text-align: center;
    padding: 2em 0;
    font-family: $header-font-family;
    color: white;

    p {
      font-size: 1.5em;
    }
  }

  .stock {
    @include row();
    padding: 2em 0;

    .snack {
      margin: 0 0.5em;
      border-radius: $base-border-radius;
      background-color: white;
      border-bottom: 3px solid #ccc;

      @each $section, $height, $bgcolor, $color in (food, 0.7, #222),
                                (amount, 3, #222),
                                (calories, 0.7, $green),
                                (about, 2, shade($green, 80)) {
        .#{$section} {
          height: $column * $height;
          color: $color;
          padding: 0.5em;
          text-align: center;

          a {
            font-weight: 700;
            font-size: 1.2em;
          }
        }
      }

      .amount input[type=text] {
        font-size: 1.5em !important;
        outline: none;
      }
    }

    .food {
      font-family: $base-font-family;
      font-size: 1em;
      background-color: #333;

    }

    .calories {
      font-size: 1.2em;
    }

    .about {
      font-size: 0.8em;
    }
  }
}
